* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

p {
    position: absolute;
    margin: 0;
    top: 35px;
    right: 35px;
    color: rgb(238, 238, 238);
    font-size: 2rem;
}